<ion-header>
	<ion-toolbar>
		<ion-title>Producto</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-searchbar animated placeholder="Buscar" ></ion-searchbar>
	</ion-toolbar>
</ion-header>
<ion-content>
	<!-- Galeria -->
	<ion-slides [options]="sliderOpt">
		<ion-slide *ngFor="let img of [1,2,3]">
			<img src="assets/img/{{ img }}.png" tappable (click)="openPreview(img)" alt="Dinos">
		</ion-slide>
	</ion-slides>
	<!-- Descripcion -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Descripción</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			Al averno perros
		</ion-card-content>
	</ion-card>
	<!-- Categorias -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Categorias</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-chip>
				<ion-label>Trapito</ion-label>
			</ion-chip>
			<ion-chip>
				<ion-label>1444</ion-label>
			</ion-chip>
		</ion-card-content>
	</ion-card>
	
	<ion-list>
		<ion-list-header>
			Información Adicional
		</ion-list-header>
		<ion-item>
			<ion-label>Estado</ion-label>
			<ion-note slot="end" color="primary">Nuevo</ion-note>
		</ion-item>
		
		<ion-item>
			<ion-label>Fecha</ion-label>
			<ion-note slot="end" color="primary">25/25/1444</ion-note>
		</ion-item>
	</ion-list>
</ion-content>
