ion-slides{
    margin-top: 5px;
    background: white;
    img{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.txt > ion-item > ion-note {
    font-size: 16px;
}
ion-card-content{
    font-size: 16px;
}