<ion-header no-border>
		<ion-toolbar>
		  <ion-buttons slot="start">
			<ion-buttons slot="start">
			  <ion-back-button></ion-back-button>
			</ion-buttons>
		  </ion-buttons>
		  <ion-title>Producto</ion-title>
		</ion-toolbar>
	  </ion-header>
	  

<ion-content>
	<!-- Galeria -->
	<ion-slides [options]="sliderOpt">
		<ion-slide *ngFor="let img of [1,2,3]">
			<img src="assets/img/{{ img }}.png" tappable (click)="openPreview(img)" alt="Dinos">
		</ion-slide>
	</ion-slides>
	<!-- Descripcion -->
	<ion-card>
		<ion-card-header>
			<ion-card-title class="text-center">{{producto.name | titlecase}}</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			{{producto.description}}
		</ion-card-content>
	</ion-card>
	<!-- Categorias -->
	<ion-card>
		<ion-card-header>
			<ion-card-title>Categorias</ion-card-title>
		</ion-card-header>
		<ion-card-content>
			<ion-chip *ngFor="let cat of producto.category">
				<ion-label>{{cat}}</ion-label>
			</ion-chip>
		</ion-card-content>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-title>Información Adicional</ion-card-title>
		</ion-card-header>
		<ion-list class="txt">
			<ion-item>
				<ion-label>Estado</ion-label>
				<ion-note slot="end" color="primary">{{producto.state}}</ion-note>
			</ion-item>
			<ion-item>
				<ion-label>Fecha</ion-label>
				<ion-note slot="end" color="primary">{{producto.date | date}}</ion-note>
			</ion-item>
			<ion-item>
				<ion-label>Ubicación</ion-label>
				<ion-note slot="end" color="primary">{{producto.city}}</ion-note>
			</ion-item>
		</ion-list>
	</ion-card>
	<section>
			<ion-button expand="block" fill="solid" (click)="exchange()">
				Enviar solicitud <ion-icon slot="end" name="add"></ion-icon>
			</ion-button>
	</section>
</ion-content>