ion-slides{
    margin-top: 10%;
    //background: #c21717;
    //No se
    background: rgb(236, 236, 236);
    img{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}


.txt > ion-item > ion-note {
    font-size: 16px;
}
ion-card-content{
    font-size: 16px;
}