<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar></ion-searchbar>


  <ion-refresher slot="fixed" (ionRefresh)="refreshNew($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="products">
    <ion-card *ngFor="let product of products" (click)="viewProduct(product)">
      <div style="width: 100%">
        <ion-skeleton-text class="skeleton" animated></ion-skeleton-text>
      </div>
      <ion-card-content>
        <div class="justify">
          <span><b>{{product.name | titlecase }}</b></span>
          <span>{{product.date | date}}</span>
        </div>
        <ion-text class="colorText">
          <p>{{product.description}}</p>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="infiniteScroll.disabled">
    <ion-item lines="none">
      <ion-label class="containerCenter">
        <ion-icon name="checkmark-circle-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </div>

  <ion-infinite-scroll threshold="0px" (ionInfinite)="refreshOld($event)">
    <ion-infinite-scroll-content style="font-size: 12px;" loadingSpinner="dots"
      loadingText="Cargando más publicaciones">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>



  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="contacts"></ion-icon>
          <ion-label>Speakers</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>

</ion-content>