<ion-header no-border >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshNew($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="products">
    <ion-card *ngFor="let product of products">
      <ion-card-header>
        
        <ion-card-title>{{product.name | titlecase }}</ion-card-title>
        <ion-card-subtitle>{{product.date | date}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content align-self-center > 
        {{product.description}}
      </ion-card-content> 
    </ion-card>
  </div>

  <div *ngIf="infiniteScroll.disabled">
    <ion-item lines="none">
      <ion-label class="containerCenter"><ion-icon name="checkmark-circle-outline"></ion-icon></ion-label>
    </ion-item>
  </div>

  <ion-infinite-scroll threshold="0px" (ionInfinite)="refreshOld($event)">
    <ion-infinite-scroll-content style = "font-size: 12px;" loadingSpinner="dots" loadingText="Cargando más publicaciones">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>