.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.input {
    border: 1px solid red;
    margin: 10px 0px;
    border-radius: 10px;
}

ion-card-title {
    width: 100%;
    text-align: center;
}

ion-input {
   text-decoration-line: none;
}
