<ion-content>
  <div class="container">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>Iniciar Sesion</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <ion-item class="input">
            <ion-input placeholder="Usuario"></ion-input>
        </ion-item>

        <ion-item class="input">
            <ion-input placeholder="Contraseña" class="a"></ion-input>
          </ion-item>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>