<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/proceso-list"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Resumen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="containerCenter">
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <p>Resumen de tu intercamcbio</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-thumbnail class="photo">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">{{resume.p1}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <ion-icon name="swap"></ion-icon>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-thumbnail class="photo">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">{{resume.p2}}</ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-text color="primary">
          <p>Fecha de intercambio: <br>
            <b>{{resume.date | date}}</b><br><br>
            Estado de intercambio: <br>
            <b>{{resume.status | statusCambio}}</b>
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>