.photo {
    height: 250px;
    width: 250px;
    margin: auto;
    padding: 0px;;
  }
  
  .cancelProcess {
    --border-width: 0px;
    --background: rgb(116, 103, 163);
    --box-shadow: none;
    --border-radius: 10px;
  }