<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>En proceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">

  <ion-grid fixed>
    <ion-row class="row" *ngFor="let p of procesos">
      <ion-col size="2">
        <div class="status" [ngStyle]="{ 'background': p.status ? '#00ff5a': '#d4d4d4' }"></div>
      </ion-col>
      <ion-col size="10" class="containerCenter border" (click)="viewProcess(p)">
        <ion-text color="primary">
          {{p.p1}} <b>
            <ion-icon name="swap"></ion-icon>
          </b> {{p.p2}}
          <br>
          {{p.date | date}}
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>