<ion-app *ngIf="isLogin()">
  <ion-split-pane contentId="main">
    <ion-menu contentId="main" type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>
              <div class="ion-text-center">
                  <h1>Qwapp</h1>
                </div>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="true" *ngFor="let p of appPages">
            <ion-item [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer no-border>
        <ion-toolbar>
          <ion-item (click)="logout()" lines="none" detail>
            <ion-icon slot="start" name="exit"></ion-icon>
            <ion-label>
              Cerrar sesión
            </ion-label>
          </ion-item>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet *ngIf="isLogin()" id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

<ion-router-outlet *ngIf="!isLogin()"></ion-router-outlet>