<ion-header>
  <ion-toolbar>
    <ion-title>perfil-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list lines="none">
    <ion-item>
      <ion-avatar class="avatar">
        <img [src]="image" />
      </ion-avatar>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked" >Nombres<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="u.name"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked" >Ciudad<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="u.city"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked" >Localidad<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="u.locality"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked" c>Dirección<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="u.direction"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked" >Telefono<ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input [(ngModel)]="u.phone"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="full" (click) = "send()">Confirmar</ion-button>


  </ion-list>








</ion-content>