<ion-header>
  <ion-toolbar>
    <ion-title>perfil prueba git conexion push</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>



      <ion-grid>

        <ion-row class="align-items-center">

          <ion-col size=4>
            <ion-avatar class="avatar">
              <img [src]="image" />
            </ion-avatar>
          </ion-col>

          <ion-col class="align-self-center">
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-icon name="person"></ion-icon>
                  &nbsp;Carlos Eduardo Camacho
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-icon name="locate"></ion-icon>
                  &nbsp; Engativá, Bogotá
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-text-center">
                  <ion-icon name="git-compare"></ion-icon>
                  &nbsp; 13 intercambios
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-text-center">
                  <ion-icon name="star"></ion-icon>
                  &nbsp; Reputación
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>


    <ion-item lines="full">
      <ion-label>
        <div class="ion-text-center">
          Publicaciones
        </div>
      </ion-label>
    </ion-item> 

    <ion-list lines = "none">
        <ion-item>
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Activo</ion-card-subtitle>
                  <ion-card-title>Producto 1</ion-card-title>
                </ion-card-header>
            
              </ion-card>
        </ion-item>
        <ion-item>
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Activo</ion-card-subtitle>
                  <ion-card-title>Producto 2</ion-card-title>
                </ion-card-header>
            
              </ion-card>
        </ion-item>
        <ion-item>
            <ion-card>
                <ion-card-header>
                  <ion-card-subtitle>Activo</ion-card-subtitle>
                  <ion-card-title>Producto 3</ion-card-title>
                </ion-card-header>
            
              </ion-card>
        </ion-item>
      </ion-list>
    



  </ion-card>











</ion-content>