<ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi perfil</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-grid>
        <ion-row class="align-items-center">

          <ion-col size=4>
            <ion-avatar class="avatar">
              <img [src]="image" />
            </ion-avatar>
          </ion-col>

          <ion-col class="align-self-center">
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-icon name="person"></ion-icon>
                  &nbsp;{{user.name}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <div class="ion-text-center">
                  <ion-icon name="locate"></ion-icon>
                  &nbsp; {{user.locality}}, {{user.city}}
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-text-center">
                  <ion-icon name="git-compare"></ion-icon>
                  &nbsp; {{user.numberChanges}} intercambios
                </div>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="ion-text-center">
                  <ion-icon name="star"></ion-icon>
                  &nbsp; Reputación
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>


    <ion-item lines="full">
      <ion-label>
        <div class="ion-text-center">
          Publicaciones
        </div>
      </ion-label>
    </ion-item>

    <ion-list lines="none">
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Activo</ion-card-subtitle>
            <ion-card-title>Producto 1</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Activo</ion-card-subtitle>
            <ion-card-title>Producto 2</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-item>
      <ion-item>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Activo</ion-card-subtitle>
            <ion-card-title>Producto 3</ion-card-title>
          </ion-card-header>

        </ion-card>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed" routerLink="/producto-create">
      <ion-fab-button color="primary">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>