<ion-header>
	<ion-toolbar>
		<ion-title>producto-edit</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
	<ion-slides #mySlider>
		<!--Slide 1-->
		<ion-slide>
			<!-- Content -->
			<h2>Edita tu producto</h2>
			<!--Nombre-->
			<ion-item>
				<ion-label position="floating">Nombre del articulo<ion-text color="danger">*</ion-text>
				</ion-label>
				<ion-input required type="text"></ion-input>
			</ion-item>
			<!--Descripcion-->
			<ion-item>
				<ion-label position="floating">Descripción</ion-label>
				<ion-textarea></ion-textarea>
			</ion-item>
			<!--Lugar-->
			<ion-item>
				<ion-label>Ciudad</ion-label>
				<ion-select (ionChange)= "test()" [(ngModel)] = "cc">
					<ion-select-option *ngFor="let c of ciudades" [value]='c.value'>{{ c.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--Estado-->
			<ion-segment (ionChange)="segmentChanged($event)" checked>
				<ion-segment-button value="new">
					<ion-label>Nuevo</ion-label>
				</ion-segment-button>
				<ion-segment-button value="used">
					<ion-label>Usado</ion-label>
				</ion-segment-button>
			</ion-segment>
			
			<!--Botones-->
			<ion-item lines="none">
				<ion-buttons slot="end">
					<ion-button fill="solid" (click)="next()">
						Next  
						<ion-icon name="arrow-dropright-circle"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-item>
		</ion-slide>
		
		<!--Slide 2-->
		<ion-slide>
			<!-- Content -->
			<h2>Sube tus fotos</h2>
			<ion-item lines="none">
				<ion-buttons>
					<ion-button fill="solid" (click)="prev()">
						Prev
					</ion-button>
					<ion-button fill="solid" (click)="next()">
						Next
					</ion-button>
				</ion-buttons>
			</ion-item>
			
		</ion-slide>
		
		<ion-slide>
			<h2>What is Ionic Pro?</h2>
			<ion-buttons slot="end">
				<ion-button (click)="next()">
					Next
				</ion-button>
			</ion-buttons>
		</ion-slide>
		
		<ion-slide>
			<h2>Ready to Play?</h2>
			<ion-buttons slot="end">
				<ion-button>
					Continue
				</ion-button>
			</ion-buttons>
		</ion-slide>
		
	</ion-slides>
</ion-content>