<ion-header>
	<ion-toolbar>
		<ion-title>producto-edit</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding-horizontal" scroll-y="false">
	<ion-slides #mySlider>
		<!--Slide 1-->
		<ion-slide>
			<!-- Content -->
			<h2>Edita tu producto</h2>
			<!--Nombre-->
			<ion-item>
				<ion-label position="floating">Nombre del articulo<ion-text color="danger">*</ion-text>
				</ion-label>
				<ion-input required type="text"></ion-input>
			</ion-item>
			<!--Descripcion-->
			<ion-item>
				<ion-label position="floating">Descripción</ion-label>
				<ion-textarea></ion-textarea>
			</ion-item>
			<!--Lugar-->
			<ion-item>
				<ion-label>Ciudad</ion-label>
				<ion-select (ionChange)= "test()" [(ngModel)] = "cc">
					<ion-select-option *ngFor="let c of ciudades" [value]='c.value'>{{ c.name }}</ion-select-option>
				</ion-select>
			</ion-item>
			<!--Estado-->
			<h5 class="text-center">Estado</h5>
			<ion-item>
				<ion-segment (ionChange)="segmentChanged($event)">
					<ion-segment-button value="new">
						<ion-label>Nuevo</ion-label>
					</ion-segment-button>
					<ion-segment-button value="used">
						<ion-label>Usado</ion-label>
					</ion-segment-button>
				</ion-segment>
			</ion-item>
			
			<!--Botones-->
			<ion-item lines="none">
				<ion-buttons slot="end">
					<ion-button fill="solid" (click)="next()">
						Continuar  
						<ion-icon name="arrow-dropright-circle"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-item>
		</ion-slide>
		
		<!--Slide 2-->
		<ion-slide>
			<!-- Content -->
			<h2>Imagenes del producto</h2>
			<h3 class="ion-text-center" *ngIf ="images.length === 0">Seleccione Imagenes<ion-text color="danger">*</ion-text></h3>
			<ion-list>
				<ion-item *ngFor ="let img of images; index as pos">
					<ion-thumbnail slot="start">
						<ion-img [src]="img.path"></ion-img>
					</ion-thumbnail>
					
					<ion-button  slot="end" fill="clear" (click)="deleteImg(img, pos)">
						<ion-icon slot="icon-only" name="trash"></ion-icon>
					</ion-button>
				</ion-item>
			</ion-list>
			
			<!--Subir foto-->
			<ion-footer>
				<ion-toolbar>
					<ion-button fill="clear" expand="full" (click)="selectImg()">
						<ion-icon slot="start" name="camera"></ion-icon>
						Seleccionar Imagenes
					</ion-button>
				</ion-toolbar>
			</ion-footer>  
			
			<!--Botones-->
			<ion-item lines="none">
				<ion-buttons>
					<ion-button fill="solid" (click)="prev()">
						Atras
						<ion-icon name="arrow-dropleft-circle"></ion-icon>
					</ion-button>
					<ion-button fill="solid" (click)="next()">
						Continuar
						<ion-icon name="arrow-dropright-circle"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-item>
			
		</ion-slide>
		
		<ion-slide>
			<h2>Estas a punto de actualizar tu producto. Pulsa <b>Continuar</b> para terminar.</h2>
			
			<!--Botones-->
			<ion-item lines="none">
				<ion-buttons>
					<ion-button fill="solid" (click)="prev()">
						Atras
						<ion-icon name="arrow-dropleft-circle"></ion-icon>
					</ion-button>
					<ion-button fill="solid" (click)="next()">
						Continuar
						<ion-icon name="arrow-dropright-circle"></ion-icon>
					</ion-button>
				</ion-buttons>
			</ion-item>
		</ion-slide>
		
		
	</ion-slides>
</ion-content>